// Colors
$primary-color: #1E8550;
$primary-color-darker: darken($primary-color, 10%);
$primary-text-color: #1e1e1e;
$secondary-danger: #e22e12;
$secondary-warning: #fc8624;
$secondary-info: #31a9ff;
$secondary-success: #25cc57;
$secondary-gray-dark: #737373;
$light-gray-background: #eaecf0;
$secondary-gray-light: #f9f9f9;
$secondary-bg: #f0f3f8;
$body-background: #F0F3F8;
$usermenu-background: #F1F1F1;
$input-border: #D4D6DA;
$white: #fff;
$black: #000;
$footer-background: #26272A;
$footer-link: #26a664;
$footer-text-gray: #b3b3b3;