@import 'icons';
body {
    margin: 0;
    color: #1e1e1e;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #F0F3F8;
    padding: 0 !important;
}

.tile-wrapper {
    background-color: white;
    width: 1020px;
    height: 650px;
}

.ch-ico-company {
    position: relative;
    display: inline-block;
    background: $ch-ico-company;
    width: 24px;
    height: 24px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ch-ico-company-white {
    position: relative;
    display: inline-block;
    background: $ch-ico-company-white;
    width: 24px;
    height: 24px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ch-ico-company-primary {
    position: relative;
    display: inline-block;
    background: $ch-ico-company-primary;
    width: 24px;
    height: 24px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ch-ico-person {
    position: relative;
    display: inline-block;
    background: $ch-ico-person;
    width: 20px;
    height: 24px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ch-ico-person-white {
    position: relative;
    display: inline-block;
    background: $ch-ico-person-white;
    width: 20px;
    height: 24px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ch-ico-person-primary {
    position: relative;
    display: inline-block;
    background: $ch-ico-person-primary;
    width: 20px;
    height: 24px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.center-circle {
    i {
        width: 30px;
        height: 30px;
    }
}